<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorsMapper">
    <insert id="insertBatch">
        insert into dish_flavor (name, value, dish_id) values
        <foreach collection="flavors" item="flavor" separator=",">
            (#{flavor.name}, #{flavor.value}, #{flavor.dishId})
        </foreach>
    </insert>

    <delete id="deleteByDishIds">
        delete from dish_flavor where dish_id in
        <foreach collection="dishIds" item="id" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </delete>
</mapper>
